/* input.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme{
    --font-Montserrat: "Montserrat", sans-serif;
    --text-1xl: 1.3rem;
}
@layer utilities{
    .clip-apertura{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .clip-cierre{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .transition-apertura{
        transition: clip-path .3s ease-in-out;
    }
    .transition-cierre{
        transition: clip-path .3s ease;
    }
    .text-rojoMain {
        color: #472427};
}
:root{
    --color-rojoMain: #472427;
}